
.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    transition: transform 0.5s ease-in-out; 
    position: relative;
    z-index: 9999; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.greeting {
    margin-top: 20px;
    font-size: 36px; 
    font-weight: bold;
    opacity: 0; 
    animation: fadeIn 1s forwards;
    color: '#ffff';
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    transform: translateY(-100%); 
}

.fade-in {
    opacity: 1; 
}